*.class

*.log

*.jar
*.war
*.ear

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

.gradle/
build/


.project
.classpath
.settings/

nbproject/private/
build/
dist/
nbbuild/
nbdist/
.nb-gradle/

.idea/
*.iml
out/

.vscode/

.DS_Store
Thumbs.db

hibernate.log

*.env
application.properties
application.yml

*.tmp
*.swp